Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2020-03, with the labels that each got.

#195 (Cosmetic) updates to models
  openapi/index_openapi.json
  openapi/openapi.json
  optimade/models/__init__.py
  optimade/models/entries.py
  optimade/models/jsonapi.py
  optimade/models/optimade_json.py
  optimade/models/responses.py
  optimade/models/toplevel.py
  optimade/server/exception_handlers.py
Labels: OpenAPI, schema

#191 Make validator GitHub Action
  .github/workflows/deps_eager.yml
  .github/workflows/deps_lint.yml
  .github/workflows/publish-on-pypi.yml
  .github/workflows/validator_action.yml
  README.md
  action.yml
  optimade/validator/github_action/Dockerfile
  optimade/validator/github_action/entrypoint.sh
  tasks.py
Labels: enhancement, validator

#220 Codecov-action supports token-less uploads
  .github/workflows/deps_eager.yml
  .github/workflows/deps_lint.yml
  .github/workflows/publish-on-pypi.yml
  .github/workflows/requirements_eager.txt
  .github/workflows/validator_action.yml
Labels: CI, dependency_updates

#225 Add txt-files in optimade.validator.data to MANIFEST
  MANIFEST.in
  tests/test_setup.py
Labels: bug, priority/high, tests

#221 Handle arbitrary nested NOT/AND/OR in queries
  optimade/filtertransformers/mongo.py
  tests/filtertransformers/test_mongo.py
Labels: bug, transformer/MongoDB

#237 Add dependabot and last commit date badges
  README.md
Labels: enhancement, priority/low

#222 Add mongo length operator functionality with length aliases
  default_config.json
  example_config.json
  optimade/filtertransformers/mongo.py
  optimade/server/config.py
  optimade/server/entry_collections/__init__.py
  optimade/server/entry_collections/entry_collections.py
  optimade/server/entry_collections/mongo.py
  optimade/server/mappers/entries.py
  optimade/server/mappers/structures.py
  tests/filtertransformers/test_mongo.py
  tests/server/test_mappers.py
  tests/server/test_query_params.py
  tests/test_config.json
Labels: enhancement, priority/medium, transformer/MongoDB
