Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2020-10, with the labels that each got.

#556 Update deps
  requirements-docs.txt
  requirements.txt
  setup.py
Labels: dependency_updates

#561 Fix Species validators and error messages
  optimade/models/structures.py
Labels: models, priority/medium

#557 Improve handling of MongoDB ObjectID
  optimade/filtertransformers/mongo.py
  optimade/server/entry_collections/entry_collections.py
  optimade/server/entry_collections/mongo.py
  optimade/server/exceptions.py
  optimade/server/mappers/entries.py
  optimade_config.json
  tests/filtertransformers/test_mongo.py
Labels: priority/low, server, transformer/MongoDB

#578 Update dependencies
  .pre-commit-config.yaml
  requirements-client.txt
  requirements-dev.txt
  setup.py
Labels: dependency_updates
