Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2020-08, with the labels that each got.

#447 Update dependencies
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
Labels: dependency_updates

#436 Fix circular dep and extra permission error in logs
  optimade/server/config.py
  optimade/server/logger.py
  optimade/server/main.py
  optimade/server/main_index.py
Labels: bug, priority/medium, server

#466 Update dependencies
  .github/dependabot.yml
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
  tests/server/query_params/test_filter.py
Labels: CI, dependency_updates

#471 Update dependencies
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
Labels: dependency_updates

#477 Update dependencies and pre-commit
  .pre-commit-config.yaml
  openapi/openapi.json
  optimade/adapters/structures/aiida.py
  optimade/adapters/structures/ase.py
  optimade/adapters/structures/cif.py
  optimade/adapters/structures/jarvis.py
  optimade/adapters/structures/proteindatabank.py
  optimade/adapters/structures/pymatgen.py
  optimade/adapters/structures/utils.py
  optimade/filtertransformers/elasticsearch.py
  optimade/filtertransformers/mongo.py
  optimade/models/optimade_json.py
  optimade/models/references.py
  optimade/models/structures.py
  optimade/models/utils.py
  optimade/server/config.py
  optimade/server/entry_collections/entry_collections.py
  optimade/server/entry_collections/mongo.py
  optimade/server/mappers/entries.py
  optimade/server/routers/versions.py
  optimade/validator/data/__init__.py
  optimade/validator/validator.py
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
  tests/filtertransformers/test_mongo.py
  tests/server/middleware/test_api_hint.py
  tests/server/query_params/test_filter.py
  tests/server/query_params/test_sort.py
  tests/server/test_server_validation.py
Labels: OpenAPI, dependency_updates

#480 Update types to align with OpenAPI
  openapi/index_openapi.json
  openapi/openapi.json
  optimade/models/baseinfo.py
  optimade/models/index_metadb.py
  optimade/models/jsonapi.py
  optimade/models/links.py
  optimade/models/optimade_json.py
  optimade/models/references.py
  optimade/models/structures.py
Labels: OpenAPI, schema
