Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2020-12, with the labels that each got.

#558 Python 3.9 support
  .github/workflows/deps_lint.yml
  setup.py
Labels: CI, priority/low, tests

#485 ReadTheDocs configuration file (v2)
  .readthedocs.yml
Labels: docs

#621 Change validation error to warning on empty endpoints
  optimade/validator/validator.py
Labels: priority/high, validator

#287 Create template filtertransformer BaseTransformer
  CONTRIBUTING.md
  docs/api_reference/filtertransformers/debug.md
  docs/api_reference/filtertransformers/json.md
  optimade/filtertransformers/__init__.py
  optimade/filtertransformers/base_transformer.py
  optimade/filtertransformers/debug.py
  optimade/filtertransformers/django.py
  optimade/filtertransformers/elasticsearch.py
  optimade/filtertransformers/json.py
  optimade/filtertransformers/mongo.py
  optimade/grammar/v0.10.1.lark
  optimade/grammar/v1.0.0.lark
  optimade/server/entry_collections/mongo.py
  optimade/validator/__init__.py
  tests/filterparser/test_filterparser.py
  tests/filtertransformers/test_django.py
  tests/filtertransformers/test_mongo.py
Labels: blocking, priority/medium, transformers

#629 Updated README and moved some files to top-level
  .github/workflows/release_tag_msg.txt
  .github/workflows/update_docs.sh
  CHANGELOG.md
  INSTALL.md
  README.md
  docs/.pages
  docs/CHANGELOG.md
  docs/INSTALL.md
Labels: docs

#647 Update dependencies
  .pre-commit-config.yaml
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
Labels: dependency_updates
