Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2021-06, with the labels that each got.

#830 Fix provider fallback list
  optimade/server/routers/utils.py
  tests/server/routers/test_utils.py
Labels: bug, priority/medium, server

#835 Test all setup.py deps versions for every pull request, plus some deps updates
  .github/workflows/deps_lint.yml
  requirements-client.txt
  setup.py
Labels: CI, dependency_updates

#838 Allow both Jinja2 v2 and v3
  .github/workflows/deps_lint.yml
  setup.py
Labels: dependency_updates

#836 Update mongomock and remove test skip
  requirements.txt
  setup.py
  tests/server/query_params/test_filter.py
Labels: dependency_updates, priority/medium, transformer/MongoDB

#845 Improve semver validation error messsage
  optimade/models/utils.py
  tests/models/test_baseinfo.py
Labels: models, priority/low

#847 Update model descriptions following spec updates
  openapi/openapi.json
  optimade/models/structures.py
Labels: models, priority/high, schema

#849 Bump FastAPI version in setup.py
  setup.py
Labels: dependency_updates

#851 Tweak configuration docs
  docs/configuration.md
Labels: docs

#850 Add some more tutorial-style documentation
  CONTRIBUTING.md
  docs/.pages
  docs/getting_started/.pages
  docs/getting_started/filtering.md
  docs/getting_started/multi_db.md
  docs/getting_started/single_db.md
  docs/getting_started/validation.md
  docs/use_cases/.pages
  docs/use_cases/dynamic_db.md
  docs/use_cases/multi_db.md
  docs/use_cases/single_db.md
Labels: docs
