Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2021-07, with the labels that each got.

#872 Update dependencies
  .pre-commit-config.yaml
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
Labels: dependency_updates

#860 Add request --timeout parameter to validator
  optimade/validator/__init__.py
  optimade/validator/utils.py
  optimade/validator/validator.py
Labels: priority/medium, validator

#593 Add issue_tracker field to provider model
  README.md
  openapi/index_openapi.json
  openapi/openapi.json
  optimade-version.json
  optimade/__init__.py
  optimade/models/optimade_json.py
  optimade/server/config.py
  optimade_config.json
  tests/test_config.json
Labels: models, schema

#874 Update elements description to match specification
  openapi/openapi.json
  optimade/models/structures.py
Labels: models, schema

#861 Correct the behaviour of HAS ONLY with MongoDB backend
  optimade/filtertransformers/mongo.py
  tests/filtertransformers/test_mongo.py
  tests/server/query_params/test_filter.py
Labels: bug, priority/medium, transformer/MongoDB

#876 Minor corrections + use model aliases for `handle_response_fields()`
  optimade/server/entry_collections/entry_collections.py
  optimade/server/routers/utils.py
Labels: enhancement, priority/medium, server
