Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2022-04, with the labels that each got.

#1112 Update dependencies
  .github/workflows/ci_dependabot.yml
  .pre-commit-config.yaml
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
Labels: dependency_updates, CI

#1122 Added option to validate incoming URL query parameters
  optimade/server/config.py
  optimade/server/query_params.py
  optimade/server/routers/utils.py
  optimade/server/warnings.py
  tests/server/query_params/test_filter.py
Labels: enhancement, server

#1134 Fix cases where comparison first and property first queries did not match
  optimade/filtertransformers/mongo.py
  optimade/server/data/test_references.json
  tests/filtertransformers/test_mongo.py
Labels: bug, transformer/MongoDB, server
