Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2022-12, with the labels that each got.

#1411 Fix typo that breaks `get_child_databases` retriever
  optimade/utils.py
Labels: bug, client

#1428 Allow empty strings through chemical formula regexp
  openapi/openapi.json
  optimade/models/utils.py
  tests/models/test_utils.py
Labels: schema, models

#1433 Cache `/info` and `/info/<entry>` responses
  optimade/server/routers/info.py
Labels: server

#1435 Fix for mapper caches
  optimade/server/mappers/entries.py
  tests/filtertransformers/test_elasticsearch.py
  tests/server/test_mappers.py
Labels: server

#1442 Add pip caches to CI and tidy old flake8 job
  .github/workflows/ci.yml
Labels: CI

#1443 Update dependencies
  .pre-commit-config.yaml
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
Labels: dependency_updates, CI
