Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2022-06, with the labels that each got.

#1228 Add `http_client_deps` to `dev_deps` in setup.py
  setup.py
Labels: dependency_updates, tests

#1216 Support for Elasticsearch v7
  .github/workflows/ci.yml
  INSTALL.md
  optimade/server/entry_collections/elastic_indexes.json
  optimade/server/entry_collections/elasticsearch.py
  requirements.txt
  setup.py
Labels: enhancement, transformer/Elasticsearch, server

#1210 Add configurable `schema_url` and `index_schema_url` options
  optimade/server/config.py
  optimade/server/exception_handlers.py
  optimade/server/routers/index_info.py
  optimade/server/routers/info.py
  optimade/server/routers/utils.py
  tests/server/utils.py
Labels: server, config

#1223 Optimisation: do not re-access mapper properties inside the request loop
  optimade/server/entry_collections/entry_collections.py
Labels: priority/high, server

#1250 Update dependencies
  .github/workflows/cd_release.yml
  .github/workflows/ci.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_dependabot.yml
  .pre-commit-config.yaml
  docs/api_reference/models/baseinfo.md
  docs/api_reference/models/entries.md
  docs/api_reference/models/index_metadb.md
  docs/api_reference/models/jsonapi.md
  docs/api_reference/models/links.md
  docs/api_reference/models/optimade_json.md
  docs/api_reference/models/references.md
  docs/api_reference/models/responses.md
  docs/api_reference/models/structures.md
  docs/api_reference/models/utils.md
  docs/api_reference/server/config.md
  mkdocs.yml
  optimade/adapters/base.py
  optimade/adapters/structures/utils.py
  optimade/models/utils.py
  optimade/server/entry_collections/entry_collections.py
  optimade/server/entry_collections/mongo.py
  optimade/utils.py
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
  tasks.py
Labels: dependency_updates, CI

#1222 Improve error handling for client when updating provider list
  optimade/utils.py
  requirements-docs.txt
Labels: bug, priority/high, client

#1224 Capture expected test server warnings from testing to avoid polluting the logs
  tests/server/conftest.py
Labels: tests, ergonomics, skip_changelog
