Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2022-09, with the labels that each got.

#1316 Update dependencies
  .pre-commit-config.yaml
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
Labels: dependency_updates, CI

#1336 Ensure `chunk_size` is properly set when chunking responses
  optimade/server/middleware.py
  tests/server/conftest.py
  tests/server/middleware/test_warnings.py
  tests/server/utils.py
Labels: bug, server

#1338 Remove randomness from structure utils tests
  tests/adapters/structures/test_utils.py
Labels: tests, adapters
