Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2022-05, with the labels that each got.

#1136 Added way to specify unsupported query parameters and provide a warning
  optimade/server/query_params.py
  tests/server/middleware/test_query_param.py
  tests/server/query_params/test_filter.py
Labels: server, ergonomics

#1135 Update dependencies
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
Labels: dependency_updates, CI

#1151 Pin upf-to-json version
  requirements-client.txt
  setup.py
Labels: bug, dependency_updates, CI, adapters

#1141 Fix incorrect `meta->data_returned` for paginated results with MongoDB
  optimade/server/entry_collections/mongo.py
  tests/server/routers/test_structures.py
Labels: bug, priority/high, server

#1156 Remove pinned sub-dep on upf-to-json
  requirements-client.txt
  setup.py
Labels: dependency_updates, skip_changelog

#1164 Add docs for custom provider fields and query parameters
  docs/getting_started/setting_up_an_api.md
Labels: docs

#1167 Add repository guard to GH actions Heroku deployment
  .github/workflows/ci_cd_updated_master.yml
Labels: Heroku, skip_changelog

#1142 Improve handling of MongoDB ObjectIDs as OPTIMADE `immutable_id`
  optimade/models/entries.py
  optimade/server/entry_collections/entry_collections.py
  optimade/server/entry_collections/mongo.py
  optimade/validator/config.py
  tests/test_config.json
Labels: priority/medium, server

#1163 Update dependencies
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
Labels: dependency_updates, CI

#1139 Add support for number-based pagination
  openapi/index_openapi.json
  openapi/openapi.json
  optimade/server/entry_collections/entry_collections.py
  optimade/server/query_params.py
  tests/server/conftest.py
  tests/server/middleware/test_query_param.py
  tests/server/query_params/test_sort.py
  tests/server/routers/test_structures.py
Labels: enhancement, server

#1189 Use a custom `User-Agent` with validator
  optimade/validator/utils.py
Labels: validator

#1191 Change default mike docs version to stable
  mkdocs.yml
Labels: docs, skip_changelog

#1192 Add mike outdated version banner
  docs/overrides/main.html
Labels: docs, skip_changelog

#1200 Add a clearer error message on when trying to use client with missing deps
  optimade/client/client.py
Labels: ergonomics, client

#1197 Catch connection errors when populating client database list
  optimade/utils.py
Labels: bug, for_next_release, client

#1206 Update dependencies
  .github/workflows/ci_dependabot.yml
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements-http-client.txt
  requirements.txt
  setup.py
  tests/server/test_client.py
Labels: dependency_updates, CI
