Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2022-08, with the labels that each got.

#1294 Update dependencies
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  setup.py
Labels: dependency_updates, CI

#1296 Add `from_pymatgen` structure adapter method and concept of ingesters
  optimade/adapters/base.py
  optimade/adapters/structures/adapter.py
  optimade/adapters/structures/pymatgen.py
  tests/adapters/structures/test_pymatgen.py
Labels: enhancement, priority/medium, adapters

#1297 Use animated SVG logo for optimade-python-tools landing page
  optimade/server/routers/static/landing_page.html
Labels: priority/low, server

#1245 Add `lru_cache` to many mapper properties
  optimade/server/mappers/entries.py
Labels: enhancement, server

#1315 Use pinned requirements in Docker build
  Dockerfile
Labels: dependency_updates
