Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2023-07, with the labels that each got.

#1685 Allow client callbacks to overwrite the next URL
  docs/getting_started/client.md
  optimade/client/client.py
  tests/server/test_client.py
Labels: client

#1718 Do not raise local OPTIMADE warnings at server level
  optimade/server/middleware.py
  optimade/warnings.py
Labels: server, ergonomics

#1724 Update dependencies
  .pre-commit-config.yaml
  requirements-dev.txt
  requirements-docs.txt
  requirements-http-client.txt
  requirements-server.txt
  requirements.txt
Labels: dependency_updates, CI

#1720 Allow already prefixed fields to be configured as provider fields
  optimade/server/data/test_structures.json
  optimade/server/entry_collections/entry_collections.py
  optimade/server/mappers/entries.py
  optimade/server/schemas.py
  pyproject.toml
  tests/server/test_client.py
  tests/test_config.json
Labels: server, ergonomics
