Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2023-02, with the labels that each got.

#1491 Update dependencies
  .pre-commit-config.yaml
  optimade/client/cli.py
  optimade/client/client.py
  optimade/filtertransformers/elasticsearch.py
  optimade/models/entries.py
  optimade/server/mappers/links.py
  optimade/server/mappers/references.py
  optimade/server/mappers/structures.py
  optimade/validator/validator.py
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements-http-client.txt
  requirements-server.txt
  requirements.txt
  setup.py
  tests/filtertransformers/test_base.py
  tests/filtertransformers/test_mongo.py
  tests/models/test_optimade_json.py
  tests/models/test_utils.py
  tests/server/middleware/test_query_param.py
  tests/server/query_params/test_filter.py
  tests/server/routers/test_links.py
  tests/server/routers/test_references.py
  tests/server/routers/test_versions.py
  tests/server/test_client.py
  tests/server/test_server_validation.py
  tests/server/utils.py
Labels: dependency_updates, CI

#1505 Tweak pymatgen pin in `setup.py` to allow for calver
  requirements-client.txt
  setup.py
Labels: dependency_updates

#1509 Add ASE ingester and generalize other ingestion utilities
  README.md
  optimade/adapters/base.py
  optimade/adapters/structures/adapter.py
  optimade/adapters/structures/ase.py
  optimade/adapters/structures/pymatgen.py
  optimade/adapters/structures/utils.py
  optimade/models/structures.py
  optimade/models/utils.py
  tests/adapters/structures/test_ase.py
  tests/adapters/structures/test_pymatgen.py
  tests/adapters/structures/test_structures.py
  tests/adapters/structures/test_utils.py
  tests/models/test_structures.py
  tests/models/test_utils.py
Labels: enhancement, adapters, ergonomics

#1517 Update tests and client to properly test async mode
  optimade/client/client.py
  tests/server/conftest.py
  tests/server/test_client.py
  tests/server/utils.py
Labels: tests, client

#1516 Refresh docs style and associated tweaks
  README.md
  docs/css/reference.css
  mkdocs.yml
  setup.py
Labels: docs

#1525 Update dependencies
  .pre-commit-config.yaml
  optimade/models/utils.py
  optimade/validator/validator.py
  requirements-client.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements-server.txt
  requirements.txt
  setup.py
  tests/models/test_utils.py
Labels: dependency_updates, CI

#1519 Add ability to specify callbacks to run after each client request
  optimade/client/client.py
  tests/server/test_client.py
Labels: enhancement, client
