Repository Materials-Consortia/optimade-python-tools, pull requests merged in 2025-03, with the labels that each got.

#2248 Stop pagination when last response contains no data
  optimade/client/client.py
Labels: bug, priority/high, client

#2250 Expand infinite loop fix to have hardcoded guard rail
  optimade/client/client.py
  tests/server/test_client.py
Labels: bug, priority/high, client

#2247 Drastically reduce the default Mongo count timeout
  optimade/server/config.py
  optimade/server/entry_collections/mongo.py
Labels: server, config

#2255 Fix divide by zero when no data is returned
  optimade/client/client.py
Labels: bug, client
